body {
  padding: 10px;
  font-family: sans-serif;
  background: lightcoral;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

ul {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
